@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

body {
    background-color: #395B64;
    overflow: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #314d54;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #314d54;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4b727e;
}

h1 {
    position: absolute;
    top: 10px;
    left: 14rem;
    font-size: 50px;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    color: #FBF8F1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100vh;
    margin-top: 25px;
}

.alpaca-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.alpaca-container .alpaca-images {
    width: 400px;
    height: 400px;
    background-size: cover;
    position: relative;
    z-index: 0;
    align-items: center;
}

.alpaca-container .alpaca-images img {
    height: 400px;
    width: 400px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.alpaca-container .alpaca-buttons {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.alpaca-container .alpaca-buttons button {
    position: relative;
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    background-color: #8A39E1;
    color: #FBF8F1;
    box-shadow: 2px 2px 3px #451C70;
    font-size: 16px;
    font-weight: 500;
    padding: 20px;
    width: 50%;
    transition: 0.3s ease-in-out;
}

.alpaca-container .alpaca-buttons button:hover {
    background-color: #F76E11;
    transform: scale(1.01);
    box-shadow: 2px 2px 2px #9A450B;
}

.alpaca-container .alpaca-buttons button:after {
    content: "";
    background: #FF9F45;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    border-radius: 20%;
    opacity: 0;
    transition: all 1s
}

.alpaca-container .alpaca-buttons button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.alpaca-container .alpaca-buttons button i {
    margin-right: 10px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

.buttons-container h2 {
    color: #FBF8F1;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 10px;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
}

.buttons-container .buttons-styles {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 2px;
}

.button-accessories-styles,
.active
{
    cursor: pointer;
    color: #FBF8F1;
    font-weight: 600;
    background-color: transparent;
    border: 2px solid #B667F1;
    box-shadow: 2px 2px 1px #5B3478;
    border-radius: 40px;
    padding: 15px 30px;
    text-transform: capitalize;
    font-size: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.2s all;
}

.button-accessories-styles:hover,
.active
{
    border: 2px solid #FF9F45;
    background-color: #FF9F45;
    box-shadow: 2px 2px 2px #F76E11;
    color: #451C70;
    transform: scale(1.05);
}

