@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

body {
    background-color: #c4c4c4;
}

.container {
    display: flex;
    align-items: center;
    height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.alpaca-images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.alpaca-images .images img{
    position: absolute;
    top: 70px;
    left: 150px;
    width: 30%;
    height: auto;
    object-fit: contain;
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.buttonsContainer h2 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
    margin: 10px 0;
}

.button-accessories-container {
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
}

.button-accessories {
    color: #5819c4;
    background-color: transparent;
    border: 2px solid #5819c4;
    font-weight: 600;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
    width: 120px;
    text-transform: capitalize;
    border-radius: 30px;
    align-items: center;
    transition: 0.2s ease-in-out;
}

.button-accessories:hover {
    background-color: #5819c4;
    color: #ffffff;
    transform: scale(1.05);
}
